@import url(./node_modules/reset-css/reset.css);

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(141, 141, 141);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.Header {
  width: 100%;
  background-color: #4400ffa8;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  .form {
    .search {
      padding: 20px;
      height: 30px;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 20px;
      color: #fff;
      background-color: #25008a;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .movieEl {
    width: 300px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
    background-color: #592ed3;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;

    &:hover {
      .desc {
        top: 0%;
      }
      .text {
        margin-left: 120%;
      }
      .img {
        margin-left: -120%;
      }
    }
    .img {
      width: 100%;
      transition: 300ms all;
    }
    .text {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: 300ms all;
      margin-top: 1rem;
      align-items: center;
      align-items: center;
      .title {
        font-size: 1.3rem;
        line-height: 125%;
      }
      .vote {
        background-color: #280096;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
    .desc {
      padding: 1rem;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: -100%;
      transition: 300ms all;
      line-height: 125%;
      flex-direction: column;
      .btn {
        margin-top: 1rem;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: #fff;
        font-size: 18px;
        color: #592ed3;
      }
    }
  }
}

.tags {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  .tag {
    padding: 10px 15px;
    background-color: #592ed3;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
    transition: 300ms transform;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.green {
  color: rgb(0, 255, 0);
}

.orange {
  color: #ce9b00;
}

.red {
  color: red;
}

.active {
  background-color: #25008a !important;
}

.error {
  font-size: 3rem;
  margin-top: 1rem;
  font-weight: bold;
}
